<div class="flex gap cross-start" [ngClass]="{'hide-repos': !showRepos}">
  <mat-card *ngFor="let repoGroup of _repos | keyvalue" [style.margin-bottom.em]="1">
    <mat-card-title>
      {{ repoGroup.key }}
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let repoName of repoGroup.value">
          <span mat-line> {{ repoName }} </span>
          <span
            class="count"
            [class.plus]="_repoInfo[repoGroup.key][repoName]?.issues?.length >= 100"
          >
            <mat-icon>info</mat-icon>
            {{ _repoInfo[repoGroup.key][repoName]?.issues?.length }}
          </span>
          <span
            class="count"
            [class.plus]="_repoInfo[repoGroup.key][repoName]?.pulls?.length >= 100"
          >
            <mat-icon>call_merge</mat-icon>
            {{ _repoInfo[repoGroup.key][repoName]?.pulls?.length }}
          </span>
          <button
            mat-icon-button
            color="warn"
            (confirm)="deleteRepo(repoGroup.value, repoName)"
            [confirmContext]="{$implicit: repoName}"
            [confirmTemplate]="confirmDelete"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="addRepo(_repos, repoGroup.key)">+Repo</button>
      <button
        mat-button
        color="warn"
        (confirm)="deleteCard(_repos, repoGroup.key)"
        [confirmContext]="{$implicit: repoGroup.key}"
        [confirmTemplate]="confirmDelete"
      >
        -Card
      </button>
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button color="primary" (click)="addCard(_repos)">+User/Org</button>
  <button *ngIf="showRepos" mat-button color="primary" (click)="showRepos = false">
    Hide Cards
  </button>
  <button *ngIf="!showRepos" mat-button color="primary" (click)="showRepos = true">
    Show Cards
  </button>
  <span class="card-count align-self-center">{{ repos.value.length }} Repos</span>
</div>

<ng-template #confirmDelete let-repo> Are you sure about deleting {{ repo }}? </ng-template>
