<div *ngFor="let groupByDayDiff of groups | async | keyvalue">
	<h1>{{ groupByDayDiff.key }} days ago</h1>
	<recent-repo
		*ngFor="let groupByRepo of groupByDayDiff.value | keyvalue"
		[repoCommits]="groupByRepo"
	>
	</recent-repo>
</div>

<ng-template #rateLimitError>
	You have hit unauthenticated rate limit of GitHub API. Try OAuth?
</ng-template>

<ng-template #privateRepoError>
	It seems that you have added a private repo or made a typo. Do you want to setup a token via
	OAuth?
</ng-template>
